/* CSS Document */

h1{
    color: rgb(57, 104, 192);
    font-size: 4em;
    font-family: sans-serif;
    padding: 1em 2em 3em 1.5em 0.5em;
    text-transform: uppercase;
    text-align: center;
    Margin: 3em 2em 3em 2em;
}

h2{
    color: rgb(131, 158, 207);
    font-size: 3em;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h3{
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: sans-serif;
}

h4{
    color:black;
    font-size: 1em;
    font-family: sans-serif;
}

li{
    list-style-type: none;
    padding: o;
}

body{
    background-color: rgb(245, 231, 187)
}
